<div class="card p-3 mt-3">
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome do departamento</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Nome do departamento" formControlName="nome">
            <div class="invalid-feedback">
                Informe o nome do departamento!!!
            </div>
        </div>
    </form>
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Localidade do departamento</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Nome da localidade" formControlName="nome">
            <div class="invalid-feedback">
                Informe a localidade do departamento!!!
            </div>
        </div>
    </form>
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Descrição Atividades do departamento</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Nome da descrição" formControlName="nome">
            <div class="invalid-feedback">
                Informe a descrição de atividades do departamento!!!
            </div>
        </div>
    </form>
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Email do departamento</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Nome do email" formControlName="nome">
            <div class="invalid-feedback">
                Informe o email do departamento!!!
            </div>
        </div>
    </form>
    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary me-2" type="submit" (click)="Salvar()">Salvar</button>
        <button class="btn btn-danger" type="submit" (click)="Cancelar()">Cancelar</button>
    </div>
</div>

